body {
  font-family: Helvetica;
}
section.page {
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 0;
}
section.page.active {
  z-index: 2;
}
span.box {

}

/* ===============================> name */
section.page.name {
  left: 0;
  top: 0;
  background: transparent;
  text-align: center;
}
section.page.name div.background {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('./images/background.jpg');
  filter: blur(4px);
  z-index: 0;
}
section.page.name span:not(.background) {
  z-index: 1;
}
section.page.name span.box.name {
  display: block;
  width: 8em;
  position: absolute;
  top: calc(40% - 2em);
  right: 0;
  left: 0;
  margin: auto;
  padding: 0 60px 20px;
  background: rgba(200, 200, 200, .3);
  border-bottom: 3px solid #444;
  border-radius: 2px;
  font-size: 3.5em;
  font-family: Helvetica;
  font-weight: 600;
  color: white;
}
section.page.name span.box.name::before {
  content: 'my name is ';
  font-size: .2em;
  color: #bd1;
}
section.page.name span.box.more {
  display: block;
  width: 130px;
  height: 1.5em;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  animation-name: white-shadow;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
section.page.name span.box.more::after {
  content: ': )';
  filter: blur(.2px);
  color: white;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: rotate(90deg);
}
section.page.name span.box.more:hover::after {
  filter: blur(0);
}
/* ===============================> name */

/* ===============================> me */
section.page.me {
  top: 100%;
  background: #0098b1;
  text-align: center;
  color: white;
}
section.page.me.active {
  top: 0;
  left: 0;
  animation-name: fade-up;
  animation-duration: 600ms;
}
/* ===============================> me */

/* ===============================> contact-info */
section.contact-info {
  display: block;
  width: auto;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  color: #ddd;
  border: 2px solid #bbb;
  border-radius: 5px;
  z-index: 999;
}
section.contact-info a {
  display: block;
  width: auto;
  height: 1.2em;
  position: relative;
  margin: 0 0 5px;
  color: inherit;
  text-decoration: none;
  letter-spacing: 1px;
}
section.contact-info a::before {
  display: inline-block;
  width: 95px;
  text-align: right;
  color: #bbb;
}
section.contact-info a:hover::after {
  content: 'visit';
  display: block;
  padding: 3px 5px;
  position: absolute;
  top: 0;
  left: -55px;
  border-radius: 4px;
  background: #fff;
  color: #0098b1;
  text-align: left;
}
section.contact-info a.gmail:hover::after {
  content: 'Call';
}
section.contact-info a.twitter::before {
  content: 'Twitter :';
}
section.contact-info a.github::before {
  content: 'Github :';
}
section.contact-info a.facebook::before {
  content: 'FaceBook :';
}
section.contact-info a.gmail::before {
  content: 'Gmail :';
}
/* ===============================> contact-info */

/* ===============================> animations */

@keyframes fade-up {
    from {
      top: 100%;
    }
    to {
      top: 0;
    }
}
@keyframes fade-right {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}
@keyframes fade-down {
    from {
      bottom: 100%;
    }
    to {
      bottom: 0;
    }
}
@keyframes fade-left {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
}
@keyframes white-shadow {
    0% {
      text-shadow: none;
    }
    20% {
      text-shadow: 0 0 1px white;
    }
    40% {
      text-shadow: 0 0 2px white;
    }
    50% {
      text-shadow: 0 0 3px white;
    }
    60% {
      text-shadow: 0 0 2px white;
    }
    80% {
      text-shadow: 0 0 1px white;
    }
    100% {
      text-shadow: none;
    }
}
/* ===============================> animations */
